@model BookModel
@{
    ViewData["Title"] = "Add New Book";
}

<div class="container">
    <h3 class="display-4">Add New Book</h3>
    <hr />
    
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form method="post">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control"/>

        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
        <label asp-for="TotalPages"></label>
        <input asp-for="TotalPages" class="form-control"/>
        </div>

        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-primary"/>
        </div>
    </form>
</div>