<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMART PAYROLL</title>
    <link href="~/css/site.css" rel="stylesheet" />
    
    
    <environement include="development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/jquery-validate/additional-methods.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environement>
    <environment exclude="development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        

    </environment>
    
    
     
    


</head>

<body>
    @RenderSection("breadcrumb", required: false)

<nav area-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Page 1</a></li>
        <li class="breadcrumb-item active" area-current="page">Index</li>
    </ol>
</nav>

<div class="fixed-top">
        <header>
            <nav class="navbar navbar-expand-lg fixed-top bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">

                        <img src="~/images/logo.png" width="50" height="50" />
                        SMART PAYROLL
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">


                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUS">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Employee" asp-action="GetAllEmployees">All Employees</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Employee" asp-action="AddNewEmployee">Add New Emp</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>

                            @*  <li class="nav-item">
            <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Login </a>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Sign Up </a>
        </li>*@

                        </ul>
                        <ul class="navbar-nav">
                            <partial name="_LoginInfo">
                        </ul>
                    </div>
                </div>

            </nav>

        </header>
    </div>
    <main role="main">
        @RenderBody()
    </main>
     
        <footer class="text-center text-white" style="background-color: #f1f1f1;">

            <!-- Copyright -->

            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                Copyright &copy; SMART PAYROLL @DateTime.Now.Year

            </div>
            <!-- Copyright -->
        </footer>


        <script src="~/lib/jquery/jquery.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="~/jquery-validate/additional-methods.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

        @RenderSection("scripts", required: false)


    
</body>
</html>
